* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.header h1 {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding-left: 30px;
}

.header ul {
    color: whitesmoke;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header ul li {
    margin-right: 12px;
}

.header a {
    text-decoration: none;
    color: whitesmoke;
}

.header a:hover {
    color: grey;
}

.footer {
    background-color: #333;
    color: whitesmoke;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 20px;
}



.footer img {
    color: #fff;
    width: 30px;
    height: 30px;
    filter: invert(100%)
}

.footer p {
    margin: 2px;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.hero-img img {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.overlay-text {
    position: absolute;
    top: 50%;
    bottom: 35%;
    left: 25%;
    text-align: start;
    color: white;
    transform: translate(-50%, -50%);
    margin-left: 20px;
}

.overlay-text h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.7);

}

.overlay-text p {
    font-size: 1.2em;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

button {
    margin-top: 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    height: 35px;
    width: auto;
    background-color: #333;
}

button:hover {
    background-color: black;
}

button a {
    text-decoration: none;
    color: whitesmoke;
}

button a:hover {
    color: whitesmoke;
}

@media (max-width: 768px) {
    .overlay-text h1 {
        font-size: 1.5em;
        padding-left: 45px;
    }

    .overlay-text p {
        font-size: 1em;
        padding-left: 45px;

    }

    button {
        font-size: 0.8em;
        margin-left: 45px;

    }
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.work p {
    margin-top: 0;
    padding: 5px 20px;
    text-align: center;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.work-card {
    width: 250px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.work-card img {
    width: 30px;
    height: 30px;
}

.company-overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(239, 234, 234);
    padding: 30px;
    margin-top: 50px;
}

.company-overview-text {
    flex: 2;
    padding-left: 50px;
}

.company-overview-img {
    flex: 1;
    margin-left: 5px;
}

.company-overview-img img {
    width: 100%;
    height: auto;
    border-radius: 5px;

}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
}

.feature p {
    margin-top: 0;
    padding: 5px 20px;
    text-align: center;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.feature-card {
    width: 250px;
    height: 200px;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 7px solid #333;
}

.feature-card img {
    width: 30px;
    height: 30px;
}

.company-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(239, 234, 234);
    padding: 30px;
    margin-top: 50px;
}

.company-app-text {
    flex: 2;
    padding-left: 50px;
}

.company-app-img {
    flex: 1;
    margin-left: 5px;
}

.company-app-img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#contact-us {
    margin: 0 auto;
    max-width: 600px;
    border: 1 px #333 solid;
    border-radius: 5px;
    padding: 10px;
}

#contact-us h2 {
    margin-bottom: 20px;
}

#contact-us form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

#contact-us label {
    margin-bottom: 10px;
}

#contact-us input,
#contact-us textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#contact-us button[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-us button[type="submit"]:hover {
    background-color: black;
}